<<<<<<< Updated upstream
h1.dest Welcome to Travel Blog!
			for (let i = 0; i < blog.length; i++) 
					div
					div.pic
						img(src="blog[i].image")
					div.text-title (blog[i].title)
					div.text-comment (blog[i].comment)
			for photo in user
				img #{photo.filename}
				p #{photo.description}
		
=======
h1.dest Welcome to Travel Blog!		
	
	for user in photos
		h3.photo #{user.photos}
		p.description #{user.description}
		img.image(src=`files/${user.id}.jpg`)
>>>>>>> Stashed changes


		