include layout.pug

h1.dest Welcome to Happy-Gram!	
	
	for file in files
		form(class="home-form", method="post", action="/form/delete")
		.post-obj-conatiner
			.img-container
				img.landing-image(src=`/../files/${file.id}.jpg`)
				//- h3.username 
					a(href=`/user/${owner.username}`) #{owner.username}
				//- img.image(src=`/files/${file.id}.jpg`)
				p.description #{file.description}
				//- only display like button if a user is signed in and not on their own files
				if (user && file.userId !== user.id)
					.like-img-form(value=`${file.id}`)
						img.like-img-src(src="/images/unliked.png")
			//- only display delete and update description on a user's own files
			if user && user.id === file.userId
				input(name="fileId",  type="hidden", value=`${file.get("id")}`)
				button.delete-btn Delete
				a(href=`/form/${file.id}/description`) Edit description
			for comment in file.comments
				li
					p.comment #{comment.text}
		if user
			form(class="home-form", method="post", action="/form/comment")
							input(name="comment", type="text", placeholder="Comment")
							input(name="fileId", type="hidden", value=`${file.get("id")}`)
							button.add-btn Add			

		if (error) 
			p #{error}

if (user)
	script.
		var userId = "#{user.id}"

script(src="/scripts/likeValid.js")