title Home
include layout.pug

h1 This is the "Home" page.
	if (thisUser) 
		p.js-username #{thisUser.username}
		if (data)
			for files in data
				.post-obj-conatiner
					.img-container
						img.landing-image(src=`/assets/files/${files.id}.jpg`)
						h3.username 
							a(href=`/user/${thisUser.username}`) #{thisUser.username}
						//- only display like button if a user is signed in and not on their own files
						if (user && files.userId !== user.id)
							.like-img-form(value=`${files.id}`)
								img.like-img-src(src="/images/unliked.png")
					.desc-container
						p.description #{files.description}
			//-		
				if (files.userId === user.id) 
					form.like-box(method="POST", action=`../form/like/${files.id}`, value=`${files.id}`)
						button Like

	if (error) 
		p #{error}

script.
	var userId = "#{user.id}"
//- 	var jsFiles = "#{data}"
//- 	var userId = "#{thisUser.id}"
//- 	var fileId = "#{data.Id}"
//- 	var username = "#{thisUser.username}"
//- 	var dataObj	= "#{data}"

script(src="../scripts/likeValid.js")
